/*** Add your styles here **/
.Myformulario span {
	width: 200px;
	display: inline-block;
}
.Myformulario label {
	width: 200px;
	display: inline-block;
	color: #000000;

}
.formularioLogin span {
	width: 200px;
	display: inline-block;

}
.formularioLogin label {
	width: 100px;
	display: inline-block;
}

