/*** Add your styles here **/
#ImgLogin
{
	width: 16%;
	vertical-align: top;
}
.Myformulario span {
	width: 200px;
	display: inline-block;
	color: #fff;
}
.Myformulario label {
	width: 100px;
	display: inline-block;
	color: #fff;
}


